
@mixin transition($property, $duration, $easetype) {
    -webkit-transition: $property $duration $easetype;
    -moz-transition: $property $duration $easetype;
    -o-transition: $property $duration $easetype;
    transition: $property $duration $easetype;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    cursor: default;

    a {
        cursor: pointer;
    }
}
