
@mixin transition($properties, $duration, $easetype) {
    -webkit-transition: $duration $easetype;
    -moz-transition: $duration $easetype;
    -o-transition: $duration $easetype;
    transition: $duration $easetype;

    -webkit-transition-property: unquote($properties);
    -moz-transition-property: unquote($properties);
    -o-transition-property: unquote($properties);
    transition-property: unquote($properties);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    cursor: default;

    a {
        cursor: pointer;
    }
}
