{% macro message() -%}
    <div class="message">
        <h1>- 403 -</h1>
        <h2>You're not allowed to view this page!</h2>
        <p>
            Your probably missing the correct credentials to access this page.
            It's there but you're just not allowed to see it. No peeking please.
        </p>
    </div>
{%- endmacro %}

{% extends "base.html.j2" %}

{# Add to the base page title. #}
{% block title %}{{ super() }} - 403{% endblock title%}

{# Set the main message of the page. #}
{% block content %}
    <div content-title="403" class="content-standalone-title"></div>
    <div class="content-standalone-start">
        {{ message() }}
    </div>
    <div class="content-standalone-end"></div>
{% endblock content %}

{# Set fallback noscript message of the page. #}
{% block content_noscript %}
    <noscript class="content-noscript">
        {{ message() }}
    </noscript>
{% endblock content_noscript %}

{# Add the cover behind the message if Javascript is disabled. #}
{% block cover_noscript %}<noscript class="content-cover-noscript"></noscript>{% endblock cover_noscript %}
