{% macro message() -%}
    <div class="message">
        <h1>- 500 -</h1>
        <h2>An internal server error occured!</h2>
        <p>
            This is not very good. Let's hope the server hasn't caught fire because
            of you accessing this page. You should contact the site administrator
            as soon as possible about this because in any case it's bad and should
            get fixed!
        </p>
    </div>
{%- endmacro %}

{% extends "base.html.j2" %}

{# Add to the base page title. #}
{% block title %}{{ super() }} - 500{% endblock title%}

{# Set the main message of the page. #}
{% block content %}
    <div content-title="500" class="content-standalone-title"></div>
    <div class="content-standalone-start">
        {{ message() }}
    </div>
    <div class="content-standalone-end"></div>
{% endblock content %}

{# Set fallback noscript message of the page. #}
{% block content_noscript %}
    <noscript class="content-noscript">
        {{ message() }}
    </noscript>
{% endblock content_noscript %}

{# Add the cover behind the message if Javascript is disabled. #}
{% block cover_noscript %}<noscript class="content-cover-noscript"></noscript>{% endblock cover_noscript %}
