
{# Main content of the page goes in here for easier handling later on. #}
{% macro content() -%}
    {# Prepare the current view in a contained content setting. #}
    <div content-title="Tools &amp; Workflow" class="content-title"></div>
    <div class="dim-contained"></div>
    <div class="content-contained">
        <div class="content-navigation">
            <a href="#general">General</a> &middot;
            <a href="#development">Development</a> &middot;
            <a href="#creative">Graphics &amp; Video</a> &middot;
            <a href="#audio">Audio</a> &middot;
            <a href="#support">Support &amp; Hardware</a> &middot;
            <a href="#sysadmin">Connection Management</a> &middot;
            <a href="#server">Server</a> &middot;
            <a href="#miscellaneous ">Miscellaneous</a> &middot;
            <a href="#deprecated ">Deprecated</a>
        </div>
        <h1>Tools &amp; Workflow</h1>
        <p>
            This page contains tools and programs I used on a regular basis in my workflow.
            The page is divided up into multiple sections to make browsing things a bit easier.
            As you can probably tell I have included almost every single program I use
            to avoid having to attach any further details that you might want to find out!
            <br /><br />
            I have omitted programming languages from this selection since those are constantly
            growing while everything else on this page is carefully curated and only changes
            every few years as something else comes along. Old entries are then moved
            to the deprecated section at the bottom of the page.
        </p>
        <div class="horizontal-line"></div>

        <h2 id="general">General</h2>
        <p>
            This list contains programs that I use on a day to day basis. Rather
            normal applications that most people use are in here as well. My setup is
            rather specific though to save me as much time as possible meaning that
            I use a lot of automatically syncing applications so that I have my most
            basic configurations with me on the go at all times. On top of that another
            big point is the setup time that it takes for all of the applications
            as it should be as short as easy as possible.
        </p>
        <table class="collapsible">
            <tbody>
                <tr class="collapsible-handle" active="false">
                    <td colspan="2">Click here to expand or collapse the table</td>
                </tr>
                <tr>
                    <th>Application</th>
                    <th style="width: 80%">Description</th>
                </tr>
                <tr>
                    <td>Google Chrome</td>
                    <td style="width: 80%">Robust and fast Internet browser</td>
                </tr>
                <tr>
                    <td>LastPass</td>
                    <td style="width: 80%">Password manager that also saves and syncs your private data</td>
                </tr>
                <tr>
                    <td>Launchy</td>
                    <td style="width: 80%">Open programs fast and saves time</td>
                </tr>
                <tr>
                    <td>HexChat</td>
                    <td style="width: 80%">Mostly stable and easy to set up IRC client</td>
                </tr>
                <tr>
                    <td>Textual 2</td>
                    <td style="width: 80%">Good and fast OS X IRC client that gets the job done</td>
                </tr>
                <tr>
                    <td>Teamspeak 3</td>
                    <td style="width: 80%">The basic Teamspeak Client</td>
                </tr>
                <tr>
                    <td>ShareX</td>
                    <td style="width: 80%">Extensible Windows file and image sharing system integration</td>
                </tr>
                <tr>
                    <td>Nextcloud</td>
                    <td style="width: 80%">Dropbox but instead you are entirely in control of everything</td>
                </tr>
                <tr>
                    <td>Franz</td>
                    <td style="width: 80%">Combines multiple web applications into one program</td>
                </tr>
                <tr>
                    <td>Steam</td>
                    <td style="width: 80%">Gaming and chatting platform</td>
                </tr>
                <tr>
                    <td>Skype</td>
                    <td style="width: 80%">Used for video calls and quick screen sharing</td>
                </tr>
                <tr>
                    <td>Slack</td>
                    <td style="width: 80%">Versatile company collaboration and chat application</td>
                </tr>
                <tr>
                    <td>WhatsApp</td>
                    <td style="width: 80%">Messenger for real life people that relies on use of your phone</td>
                </tr>
                <tr>
                    <td>Messenger</td>
                    <td style="width: 80%">Facebook dedicated messenger that works quite alright</td>
                </tr>
                <tr>
                    <td>Gitter</td>
                    <td style="width: 80%">Chat for open source programming projects</td>
                </tr>
                <tr>
                    <td>Discord</td>
                    <td style="width: 80%">Alternative voice chat that a lot of people/communities prefer</td>
                </tr>
                <tr>
                    <td>Google Hangouts</td>
                    <td style="width: 80%">Another chat and contact option</td>
                </tr>
            </tbody>
        </table>
        <div class="horizontal-line"></div>

        <h2 id="development">Development</h2>
        <p>
            This list contains applications that I use in programming and general development
            oriented environments. This field ranges from game development all the way over to
            web server file editing. The main focus though is on editing of projects and their files.
        </p>
        <table class="collapsible">
            <tbody>
                <tr class="collapsible-handle" active="false">
                    <td colspan="2">Click here to expand or collapse the table</td>
                </tr>
                <tr>
                    <th>Application</th>
                    <th style="width: 80%">Description</th>
                </tr>
                <tr>
                    <td>Atom</td>
                    <td style="width: 80%">Extensible editor for absolutely everything</td>
                </tr>
                <tr>
                    <td>Vim</td>
                    <td style="width: 80%">Extensible command line file editing and development environment</td>
                </tr>
                <tr>
                    <td>Unity</td>
                    <td style="width: 80%">Easy to learn and versatile game engine for quick and even large project setups</td>
                </tr>
                <tr>
                    <td>Unreal Engine 4</td>
                    <td style="width: 80%">Complex engine aimed at high end systems and large projects</td>
                </tr>
                <tr>
                    <td>CryEngine</td>
                    <td style="width: 80%">Complex engine with heavy emphasis on real time editing and testing</td>
                </tr>
            </tbody>
        </table>

        <a class="anchor-top" href="#top">- Click to return to the top of the page -</a>
        <div class="horizontal-line"></div>
    </div>
{%- endmacro %}

{# If this page is requested via a base GET we serve the entire content. #}
{% if partial is not defined or partial == False %}
    {% extends "base.html.j2" %}

    {# Add to the base page title. #}
    {% block title %}{{ super() }} - Tools &amp; Workflow{% endblock title%}

    {# Set the main content of the page. Is hidden on start. #}
    {% block content %}
        {# Make sure to include extra tags for the AJAX script to read. #}
        <div class="content-standalone-start">
            {{ content() }}
        </div>
        <div class="content-standalone-end"></div>
    {% endblock content %}

    {# Set fallback noscript content of the page. #}
    {% block content_noscript %}
        <noscript>
            {{ content() }}
        </noscript>
    {% endblock content_noscript %}

{# Otherwise if this is a request for only the new content serve that. #}
{% else %}
    {# Inlude tags to show that this is an actual partial page. #}
    <div class="content-partial">
        {{ content() }}
    </div>
    <div class="content-partial-end"></div>
{% endif %}
