
{# Main content of the page goes in here for easier handling later on. #}
{% macro content() -%}
    {# Prepare the current view in a contained content setting. #}
    <div content-title="Location History" class="content-title"></div>
    <div class="dim-contained"></div>
    <div class="content-contained">
        <div class="content-center">
            <h1 id="location">Location History</h1>
            <p>
                This page shows locations I have visited - coordinates are rounded and not pinpoint accurate
            </p>
        </div>
        {% include "mapbox.html.j2" %}
        <table>
            <tbody>
                <tr>
                    <th>Location</th>
                    <th>Country</th>
                    <th>Date</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                </tr>
                {% for location in locations %}
                <tr>
                    <td>{{location.area}}</td>
                    <td>{{location.country}}</td>
                    <td>{{location.date.strftime("%B %d, %Y")}}</td>
                    <td>{{location.x|round(2, "floor")}}</td>
                    <td>{{location.y|round(2, "floor")}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%- endmacro %}

{# If this page is requested via a base GET we serve the entire content. #}
{% if partial is not defined or partial == False %}
    {% extends "base.html.j2" %}

    {# Add to the base page title. #}
    {% block title %}{{ super() }} - Location History{% endblock title%}

    {# Set the main content of the page. Is hidden on start. #}
    {% block content %}
        {# Make sure to include extra tags for the AJAX script to read. #}
        <div class="content-standalone-start">
            {{ content() }}
        </div>
        <div class="content-standalone-end"></div>
    {% endblock content %}

    {# Set fallback noscript content of the page. #}
    {% block content_noscript %}
        <noscript>
            {{ content() }}
        </noscript>
    {% endblock content_noscript %}

{# Otherwise if this is a request for only the new content serve that. #}
{% else %}
    {# Inlude tags to show that this is an actual partial page. #}
    <div class="content-partial">
        {{ content() }}
    </div>
    <div class="content-partial-end"></div>
{% endif %}
