
{# Main content of the page goes in here for easier handling later on. #}
{% macro content() -%}
    {# Prepare the current view in a contained content setting. #}
    <div class="dim-contained"></div>
    <div class="content-contained">
        <div class="content-navigation">
            <a href="#twitter">Social Feeds</a> &middot;
            <a href="#ranking">Game Rankings</a> &middot;
            <a href="#location">Location History</a>
        </div>
        <div class="opening">
            <div class="profile-image"></div>
            <h1>Hey there! I'm Catlinman!</h1>
            <p>
                Your radical dreaming humble fishstick and fiendlord known on the
                internet as Catlinman at your service. I prefer being called Cat in
                short but whatever you prefer works! I do pretty much anything and
                everything that has to do with computers ranging from digital art,
                animation and modelling over to programming, game design, web
                development and engineering all the way to making electronic music.
            </p>

            <p>
                I am always open to working and hanging out with people! If you want anything
                from me I'm right there for you! Just hit me up on any of my profiles, pages or
                communities! You can find some extra links in the contact page. There you will
                also find business related contact options.
            </p>
            <p>
                As you can see the website is currently being completely rebuilt. This means
                that most functionality is currently missing. Although the main part of the
                site is done in terms of coding I still have to hook up a lot of the sub systems
                before everything is done. Expect this in a week if I continue at the pace
                that I currently am!
            </p>
            <div class="horizontal-line"></div>

            <h1 id="twitter">Social Feeds</h1>
            <a class="twitter-timeline" data-lang="en" data-width="500" data-height="600" data-theme="dark" data-chrome="noscrollbar noheader nofooter noborders transparent" data-link-color="#fece7e" href="https://twitter.com/catplease">Tweets by catplease</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a class="anchor-top" href="#top">- Click to return to the top of the page -</a>
            <div class="horizontal-line"></div>

            <h1 id="ranking">Game Rankings</h1>
            <p>
                You know these are super important and need to be on my website.
                <br />
                Gotta get those sweet rankings out there.
            </p>
            <a class="anchor-top" href="#top">- Click to return to the top of the page -</a>
            <div class="horizontal-line"></div>

            <h1 id="location">Location History</h1>
            <p>
                There is no content here either don't ask me what's up with that I was fighting
                JavaScript history states all day and couldn't get this up and running. Sorry
                about that but I'll tackle this tomorrow I think. Yeah that sounds like a good
                plan. I should go to sleep now since it's late though so goodnight bye!
            </p>
            <a class="anchor-top" href="#top">- Click to return to the top of the page -</a>
            <div class="horizontal-line"></div>
        </div>
    </div>
{%- endmacro %}

{# If this page is requested via a base GET we serve the entire content. #}
{% if partial is not defined or partial == False %}
    {% extends "base.html.j2" %}

    {# Add to the base page title. #}
    {% block title %}{{ super() }} - About{% endblock title%}

    {# Set the main content of the page. Is hidden on start. #}
    {% block content %}
        {# Make sure to include extra tags for the AJAX script to read. #}
        <div content-title="About" class="content-standalone-title"></div>
        <div class="content-standalone-start">
            {{ content() }}
        </div>
        <div class="content-standalone-end"></div>
    {% endblock content %}

    {# Set fallback noscript content of the page. #}
    {% block content_noscript %}
        <noscript>
            {{ content() }}
        </noscript>
    {% endblock content_noscript %}

{# Otherwise if this is a request for only the new content serve that. #}
{% else %}
    {# Inlude tags to show that this is an actual partial page. #}
    <div class="content-partial">
        {{ content() }}
    </div>
    <div class="content-partial-end"></div>
{% endif %}
