
{# Base layout template. #}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html.j2" %}
    {% include "scene.html.j2" %}
</head>

<body>
    <div id="background" oncontextmenu="return false">
        <div id="vignette"></div>
        {# Main scene goes in here for the background animation. #}
        <div id="canvas"></div>
        <header class="parallax noselect">
            {# Logo header in the center of the screen #}
            <div class="logo-container">
                <div class="logo-shadow"></div>
                <div class="logo"></div>
            </div>
            <h1><a href="https://twitter.com/catplease">- Catlinman -</a></h1>
            <noscript><h2>Javascript is disabled. Some elements might not function as intended.</h2></noscript>
            <h2 id="psa"></h2>
            <span class="top"></span>
            <span class="bottom"></span>
        </header>
    </div>
    <nav>
        {# Page header menu bar for site navigation #}
        <a>The website is being completely rebuilt. More coming soon!</a>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="handle">
            <h1>^</h1>
        </div>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>
