
{# Base layout template. #}
<!DOCTYPE html>
<html lang="en">

<head>
    {# Head container information and meta data. #}
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Catlinman">
    <meta name="keywords" content="catlinman,programmer,game development,graphic artist,3d animator">
    <meta name="author" content="Catlinman">
    <meta charset="UTF-8">

    <meta itemprop="image" content="/static/img/head/meta.png">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@catplease"/>
    <meta name="twitter:creator" content="@catplease">
    <meta name="twitter:title" content="Catlinman"/>
    <meta name="twitter:description" content="Catlinman"/>
    <meta name="twitter:image" content="https://catlinman.com/static/img/head/metaimage.jpg"/>
    <meta name="twitter:domain" content="https://catlinman.com">
    <meta name="twitter:url" content="https://catlinman.com"/>
    <meta property="og:url" content="https://catlinman.com">

    <link rel="shortcut icon" href="/static/img/head/icon.png" type="image/x-icon">
    <link rel="icon" href="/static/img/head/icon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/img/head/apple-icon.png">
    <link rel="stylesheet" href="/static/css/style.css"/>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100" rel="stylesheet">

    <script type="text/javascript" src="/static/js/analytics.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/psa.js"></script>

    {% include "scene.html.j2" %}

    <title>{% block title %}Catlinman{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div class="background" oncontextmenu="return false">
        <div class="vignette"></div>
        {# Main scene goes in here for the background animation. #}
        <div id="canvas" class="background-blur"></div>
        <header class="parallax noselect background-blur">
            {# Logo header in the center of the screen. #}
            <div class="logo-container">
                <div class="logo-shadow"></div>
                <div class="logo"></div>
            </div>
            <h1><a href="about">- Catlinman -</a></h1>
            <noscript><h2>Javascript is disabled. Some elements might not function as intended.</h2></noscript>
            <h2 id="psa"></h2>
            <span class="top"></span>
            <span class="bottom"></span>
        </header>
    </div>
    <progress max="100" value="0" class="progress-forward"></progress>
    <progress max="100" value="100" class="progress-reverse"></progress>
    <nav>
        {# Page header menu bar for site navigation. #}
        <a>The website is being completely rebuilt. More coming soon!</a>
    </nav>
    <div class="controls">
        <div class="control-fx">fx</div>
    </div>
    <div class="content">
        {# Main page content loaded either on request or through AJAX. #}
        {% block content %}
        {% endblock content %}
    </div>
    {# Main page content shown if noscript is enabled. #}
    {% block content_noscript %}{% endblock content_noscript %}
    <div class="content-cover"></div>
    {% block cover_noscript %}{% endblock cover_noscript %}
    <footer>
        {# Expandable footer menu with extra information. #}
        <div class="footer-handle">
                <noscript>
                    <div>
                        <p>
                            &copy; Catlinman 2013 - 2017
                        </p>
                    </div>
                </noscript>
            <h1 class="footer-anchor">^</h1>
        </div>
        <div class="footer-content">
            <p>
                Gotta go fast using <a href="https://www.python.org/">Python</a> and <a href="https://github.com/channelcat/sanic">Sanic</a> &copy; <a href="https://catlinman.com">Catlinman</a> 2013 - 2017
            </p>
            <a href="https://github.com/catlinman/catlinman.com">
                Source code available on GitHub
            </a>
            <div class="footer-icons">
                <a class="footer-twitter" href="https://twitter.catlinman.com"></a>
                <a class="footer-facebook" href="https://facebook.catlinman.com"></a>
                <a class="footer-youtube" href="https://youtube.catlinman.com"></a>
                <a class="footer-github" href="https://github.catlinman.com"></a>
                <a class="footer-steam" href="https://steam.catlinman.com"></a>
            </div>
        </div>
    </footer>
</body>
</html>
