
{# Main content of the page goes in here for easier handling later on. #}
{% macro content() -%}
    {# Prepare the current view in a contained content setting. #}
    <div class="dim-contained"></div>
    <div class="content-contained">
        <div class="message">
            <p>This part of the site is currently not implemented. Check back later for more!</p>
        </div>
    </div>
{%- endmacro %}

{# If this page is requested via a base GET we serve the entire content. #}
{% if standalone is defined %}
    {% extends "base.html.j2" %}

    {# Add to the base page title. Although page title is created on the fly this is fallback. #}
    {% block title %}{{ super() }} - Gallery{% endblock title%}

    {# Set the main content of the page. Is hidden on start. #}
    {% block content %}
        {# Make sure to include extra tags for the AJAX script to read. #}
        <div content-title="Gallery" class="content-standalone-title"></div>
        <div class="content-standalone-start">
            {{ content() }}
        </div>
        <div class="content-standalone-end"></div>
    {% endblock content %}

    {# Set fallback noscript content of the page. #}
    {% block content_noscript %}
        <noscript>
            {{ content() }}
        </noscript>
    {% endblock content_noscript %}

    {# Add the cover behind the content if Javascript is disabled. #}
    {% block cover_noscript %}{% endblock cover_noscript %}

{# Otherwise if this is a request for only the new content serve that. #}
{% else %}
    {# Inlude tags to show that this is an actual partial page. #}
    <div class="content-partial">
        {{ content() }}
    </div>
    <div class="content-partial-end"></div>
{% endif %}
