
{# Head container information and meta data. #}
{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="Catlinman">
<meta name="keywords" content="catlinman,programmer,game development,graphic artist,3d animator">
<meta name="author" content="Catlinman">
<meta charset="UTF-8">

<meta itemprop="image" content="/static/img/head/meta.png">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@catplease" />
<meta name="twitter:creator" content="@catplease" >
<meta name="twitter:title" content="Catlinman" />
<meta name="twitter:description" content="Catlinman" />
<meta name="twitter:image" content="https://catlinman.com/static/img/head/metaimage.jpg" />
<meta name="twitter:domain" content="https://catlinman.com">
<meta name="twitter:url" content="https://catlinman.com" />
<meta property="og:url" content="https://catlinman.com">

<link rel="shortcut icon" href="/static/img/head/icon.png" type="image/x-icon">
<link rel="icon" href="/static/img/head/icon.png" type="image/x-icon">
<link rel="apple-touch-icon" href="/static/img/head/apple-icon.png">
<link rel="stylesheet" href="/static/css/style.css" />

<link href="https://fonts.googleapis.com/css?family=Work+Sans:100" rel="stylesheet">

<script type="text/javascript" src="/static/js/analytics.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/parallax.js"></script>
<script type="text/javascript" src="/static/js/motd.js"></script>

<title>Catlinman{% block title %}{% endblock %}</title>
{% endblock %}
